<div class="grid">
  <app-aside-item
    [imgUrl]="'assets/img-cadastro-biblioteca.svg'"
    [imgAltTexto]="'Cadastro Biblioteca'"
    [texto]="'Já criou sua conta?'"
    [url]="'/login'"
    [linkTexto]="'Entrar agora'"
  >
  </app-aside-item>

  <form class="formulario-login" novalidate [formGroup]="formulario">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        class="form-control"
        id="nome"
        placeholder="Informe nome da biblioteca"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Informe seu email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        placeholder="Digite sua senha"
        formControlName="password"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      Cadastrar
    </button>

    <a [routerLink]="['usuario']"> Entrar como usuário </a>
  </form>
</div>
