<div class="grid">
  <aside class="aside-container">
    <img src="assets/img-cadastro-biblioteca.svg" alt="Cadastro Biblioteca" />
    <p>Já criou sua conta?</p>
    <a class="btn btn-outline-info" [routerLink]="['/login']">Entrar agora</a>
  </aside>

  <form class="formulario-login" novalidate [formGroup]="formulario">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        class="form-control"
        id="nome"
        placeholder="Informe nome da biblioteca"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Informe seu email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        placeholder="Digite sua senha"
        formControlName="password"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      Cadastrar
    </button>

    <a [routerLink]="['usuario']"> Entrar como usuário </a>
  </form>
</div>
