<header>
  <picture>
    <source media="(max-width: 600px)" srcset="assets/logo-small.svg" />
    <img src="assets/logo-large.svg" alt="Logo Ngx-Books" />
  </picture>

  <nav class="nav-container">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['bibliotecas']">
          Bibliotecas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" [routerLink]="['livros']"> Livros </a>
      </li>
    </ul>
  </nav>

  <a class="btn btn-info" [routerLink]="['login']">Login/Cadastro</a>
</header>
