:host {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}

.formulario-livro {
  display: grid;
  grid-template-columns: max(20%, 160px) auto;
  gap: 1rem;

  fieldset {
    display: flex;
    flex-direction: column;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 1rem;
  }
}

.formulario-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;

  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.preview-image-container {
  img {
    width: 100%;
    max-width: 100%;
  }
}
