h2,
ul,
li {
  color: #fff;
}

h2 {
  font-size: 2.5rem;
}

.listagem-biblioteca {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem 1rem;
}
