$blue-purple: #1c2056;
$light-blue: #6aaddd;

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: $blue-purple;
  border-radius: 16px;

  @media (max-width: 578px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.aside-container {
  padding: 2rem 3rem;
  p {
    font-size: 1.25rem;
    max-width: 15ch;
    color: #fff;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 85%;
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}

.formulario-login {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    color: #fff;
  }

  .form-group + .form-group {
    margin-top: 1rem;
  }

  .form-group + .btn {
    margin-top: 2rem;
  }

  * + a {
    color: $light-blue;
    align-self: center;
    margin-top: 2rem;

    &:hover {
      filter: brightness(1.2);
    }
  }

  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
