<div *ngIf="biblioteca">
  <h2>
    {{ biblioteca.name }}
  </h2>

  <div class="informacao-container">
    <div class="img-container">
      <img
        [src]="biblioteca.imgUrl"
        alt="{{ 'Imagem Biblioteca ' + biblioteca.name }}"
      />
    </div>

    <aside>
      <h4>Lista de livros disponíveis</h4>

      <div *ngIf="catalogo">
        <div *ngIf="catalogo?.length > 0; else semCatalogo">
          {{ catalogo | json }}
        </div>
        <ng-template #semCatalogo>
          Nenhum livro encontrado nesta biblioteca
        </ng-template>
      </div>
    </aside>
  </div>
</div>
