<div class="informacao-container">
  <h2>{{ titulo }}</h2>
  <div class="conteudo-container">
    <div class="img-container">
      <app-img-item [src]="imgUrl" [alt]="imgDescricao"></app-img-item>
    </div>
    <div class="conteudo">
      <h3>
        {{ name }}
      </h3>
      <p>Email: {{ email }}</p>

      <footer class="footer">
        <button class="btn btn-warning">Editar</button>
        <button class="btn btn-danger" (click)="handleSair()">Sair</button>
      </footer>
    </div>
  </div>
</div>
