<div class="grid">
  <div class="informacao-container" *ngIf="biblioteca">
    <h2>Informações perfil</h2>
    <div class="conteudo-container">
      <div class="img-container">
        <img
          [src]="biblioteca.imgUrl || imgUrlDefault"
          alt="'Capa biblioteca' + {{ biblioteca.name }}"
        />
      </div>
      <div class="conteudo">
        <h3>
          {{ biblioteca.name }}
        </h3>
        <p>Email: {{ biblioteca.email }}</p>
        <p>Publicação: {{ biblioteca.created_at | date: 'dd/MM/yyyy' }}</p>

        <footer class="footer">
          <button class="btn btn-warning">Editar</button>
          <button class="btn btn-danger">Excluir</button>
        </footer>
      </div>
    </div>
  </div>

  <div class="listagem-container">
    <header>
      <h3>Informação lista</h3>
    </header>

    <div class="listagem-card">
      <p>Card1</p>
      <p>Card2</p>
      <p>Card3</p>
    </div>
  </div>
</div>
