div {
  color: #fff;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: auto 30%;
  gap: 1rem;

  > * {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
  }
}

.conteudo-container {
  display: grid;
  grid-template-columns: max(80px, 15%) auto;

  gap: 0.5rem;
  .img-container {
    img {
      max-width: 100%;
    }
  }
}

:where(footer, .footer) {
  display: flex;
  justify-content: flex-end;

  .btn + .btn {
    margin-left: 0.5rem;
  }
}

.header-listagem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    margin-left: 0.5rem;
  }

  h3 {
    flex-grow: 1;

    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 0.5rem;
}
