.perfil-container {
  display: grid;
  grid-template-columns: auto 30%;
  align-items: flex-start;
  gap: 1rem;

  > * {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
