<div class="grid">
  <div class="informacao-container" *ngIf="biblioteca">
    <h2>Informações perfil</h2>
    <div class="conteudo-container">
      <div class="img-container">
        <img
          [src]="biblioteca.imgUrl || imgUrlDefault"
          alt="'Capa biblioteca' + {{ biblioteca.name }}"
        />
      </div>
      <div class="conteudo">
        <h3>
          {{ biblioteca.name }}
        </h3>
        <p>Email: {{ biblioteca.email }}</p>
        <p>Publicação: {{ biblioteca.created_at | date: 'dd/MM/yyyy' }}</p>

        <footer class="footer">
          <button class="btn btn-warning">Editar</button>
          <button class="btn btn-danger">Excluir</button>
        </footer>
      </div>
    </div>
  </div>

  <aside class="listagem-container">
    <header class="header-listagem">
      <h3>Catálogo</h3>
      <button class="btn btn-sm btn-outline-primary">+</button>
    </header>

    <ul class="listagem-card" *ngIf="catalogo">
      <li *ngFor="let livro of catalogo">
        <div class="item-container">
          <div class="img-container">
            <img [src]="livro.imgUrl || imgUrlDefault" alt="" />
          </div>
          <div class="content">
            <h4>
              {{ livro.name }}
            </h4>
          </div>
        </div>
      </li>
    </ul>
  </aside>
</div>
