/* You can add global styles to this file, and also import other style files */

@use 'node_modules/bootstrap/dist/css/bootstrap.min.css';

$dark-blue: #12142f;

body {
  width: 100%;
  min-height: 100vh;
  background-color: $dark-blue;
}
