<div class="informacao-container" *ngIf="livro; else livroNaoEncontrado">
  <h2>Informações do livro</h2>
  <div class="conteudo-container">
    <div class="img-container">
      <app-img-item
        [src]="livro.imgUrl"
        alt="'Capa biblioteca' + {{ livro.name }}"
      ></app-img-item>
    </div>
    <div class="conteudo">
      <h3>
        {{ livro.name }}
      </h3>
      <p>Autor: {{ livro.author }}</p>
      <p>Páginas: {{ livro.pages }}</p>
      <p>Quantidade disponível: {{ livro.quantity }}</p>

      <footer class="footer" *ngIf="isFooterBiblioteca">
        <a class="btn btn-warning" [routerLink]="['editar']">Editar</a>
        <button class="btn btn-danger" (click)="onExcluir()">Excluir</button>
      </footer>
      <footer class="footer" *ngIf="!isFooterBiblioteca">
        <button class="btn btn-info">Devolver Livro</button>
      </footer>
    </div>
  </div>
</div>

<ng-template #livroNaoEncontrado>
  <div>Livro não encontrado</div>
</ng-template>
