<div class="grid">
  <app-aside-item
    [imgUrl]="'assets/img-cadastro-biblioteca.svg'"
    [imgAltTexto]="'Cadastro Biblioteca'"
    [texto]="'Já criou sua conta?'"
    [url]="'/login'"
    [linkTexto]="'Entrar agora'"
  >
  </app-aside-item>

  <form class="formulario-login" novalidate [formGroup]="formulario">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        class="form-control"
        [ngClass]="aplicarClasseCssFeedback('name')"
        id="nome"
        placeholder="Informe nome da biblioteca"
        formControlName="name"
      />
      <app-msg-error class="invalid-feedback" [msgError]="'Nome é obrigatório'">
      </app-msg-error>
      <!-- <app-msg-error *ngIf="formulario.get('email').status === 'PENDING'"  class="invalid-feedback" [msgError]="'Nome já utilizado'">
      </app-msg-error> -->
      <div *ngIf="formulario.get('name').hasError('nomeIndisponivel')">
        Nome já cadastrado
      </div>
      <div *ngIf="formulario.get('name').status === 'PENDING'">
        Validando nome
      </div>
      <div *ngIf="formulario.get('name').status === 'VALID'">
        Nome disponível
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control is-invalid"
        [ngClass]="aplicarClasseCssFeedback('email')"
        id="email"
        placeholder="Informe seu email"
        formControlName="email"
      />

      <app-msg-error class="invalid-feedback" [msgError]="'E-mail inválido'">
      </app-msg-error>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        type="password"
        class="form-control"
        [ngClass]="aplicarClasseCssFeedback('password')"
        id="senha"
        placeholder="Digite sua senha"
        formControlName="password"
      />
      <app-msg-error
        class="invalid-feedback"
        [msgError]="'Senha é obrigatório'"
      >
      </app-msg-error>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      Cadastrar
    </button>

    <a [routerLink]="['/usuarios/login']"> Entrar como usuário </a>
  </form>
</div>
