<div class="card-container">
  <div class="img-container">
    <app-img-item [src]="imgUrl" alt="Imagem + {{ titulo }}"></app-img-item>
  </div>
  <div class="card-content">
    <h3 class="card-titulo">
      {{ titulo }}
    </h3>
    <small class="card-subtitulo" *ngIf="subtitulo"> {{ subtitulo }} </small>
    <ng-container *ngIf="tipoBotaoCta === 'Link'">
      <a class="btn btn-primary card-btn" [routerLink]="[url]">
        {{ textoBotao }}
      </a>
    </ng-container>
    <ng-container *ngIf="tipoBotaoCta === 'Botao'">
      <button class="btn btn-primary card-btn" (click)="emitirOnClickCta()">
        {{ textoBotao }}
      </button>
    </ng-container>
  </div>
</div>
